@import url(//db.onlinewebfonts.com/c/c862d8098ce50a7dc042ebbb9b94bbc8?family=TwCenW01-Medium);

*, ::before, ::after {
  box-sizing: border-box;
}

div {
  display: block;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

body {
  font-family: Feijoa, serif;
  font-size: 0.9375rem;
  font-weight: 400;
  font-style: normal;
  line-height: 1.4;
  overflow-x: hidden;
  color: rgb(26, 26, 26);
}

html {
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  font-family: sans-serif;
  text-size-adjust: 100%;
}

.row::before, .row::after {
  content: " ";
  display: table;
}

*, ::before, ::after {
  box-sizing: border-box;
}

.row::after {
  clear: both;
}

.row::before, .row::after {
  content: " ";
  display: table;
}

*, ::before, ::after {
  box-sizing: border-box;
}

@media screen and (min-width: 40em)
  .l-header__burger {
  margin-top: 5px;
}

@media screen and (min-width: 40em)
  .l-header__search svg {
  vertical-align: text-bottom;
}

a {
  color: inherit;
}
/*//first article*/
.c-item__content p {
  margin-bottom: 0;
  line-height: 1.7;
  font-family: "Feijoa", serif;
  font-size: 15px;
  font-size: 0.9375rem;
  color: #4D4D4D;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
  font-family: "Domaine", serif;
  font-style: normal;
  font-weight: normal;
}

h1, .h1 {
  font-size: 10px;
  margin: 0 0 25px;
  display: block;
}

h1.c-item__title {
  font-size: 30px;
}

#firstArticleImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 466.3px;
  width: 466.3px;
}

/*///article images style */
.c-item--vertical .c-item__image {
  margin-bottom: 7px;
}

.c-item__image {
  /*background-color: #F2F2F2;*/
  position: relative;
}

figure {
  margin: 0;
}

.c-item--vertical .c-item__list {
  margin-bottom: 15px;
}

.c-item__link {
  font-family: "Tw Cen W01 Medium", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #999999;
  letter-spacing: 0.1em;
}

.c-item--xl .c-item__title, .c-item--xl ul.products .product .price, ul.products .product .c-item--xl .price {
  font-family: "Domaine", serif;
  font-size: 3.9375rem;
  letter-spacing: 0em;
  margin-bottom: 15px;
}

.c-item--xl .c-item__content {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.c-item__list {
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 0.115em;
  font-family: "Tw Cen W01 Light", sans-serif;
  font-size: 12px;
  font-size: 0.75rem;
}

.c-item--vertical .c-item__title, .c-item--vertical ul.products .product .price, ul.products .product .c-item--vertical .price {
  font-size: 19px;
  font-size: 1.1875rem;
}

.c-item__title, ul.products .product .price {
  font-size: 23px;
  font-size: 1.4375rem;
  letter-spacing: 0.025em;
  line-height: 1.2;
  font-family: "Tw Cen W01 Medium", sans-serif;
  margin-bottom: 20px;
}

#left-side-article {
  position: absolute;
  display: inline-block;
}

#right-col-articles {
  float:right;
}

#resize-img {
  height:370px;
  width:auto;
}

/*///right row*/
figure {
  margin: 0;
}

.c-item--vertical .c-item__image {
  margin-bottom: 7px;
}

.row .row {
  max-width: none;
  margin-left: -0.625rem;
  margin-right: -0.625rem;
}

.vl-1 {
  border-left: 1px solid grey;
  height: 4000px;
  /*margin-left: 30px;
  margin-right: 30px;*/
  right: 800px;
  position:absolute;

}

.vl {
  border-left: 1px solid grey;
  height: 4000px;
  margin-left: 30px;
  margin-right: 30px;
  right: 390px;
  position:absolute;
}

#paris-article {
  float:left;
  width:25%;
  text-align:bottom;
}

.articles-array {
  width:75%;
  position:absolute;
  left:25%;
  text-align:center;
}
