@import url(//db.onlinewebfonts.com/c/c862d8098ce50a7dc042ebbb9b94bbc8?family=TwCenW01-Medium);

div {
  display: block;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

body {
  font-family: Feijoa, serif;
  font-size: 0.9375rem;
  font-weight: 400;
  font-style: normal;
  line-height: 1.4;
  overflow-x: hidden;
  /*color: rgb(26, 26, 26);*/
}

html {
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  font-family: sans-serif;
}

.row::before, .row::after {
  content: " ";
  display: table;
}

*, ::before, ::after {
  box-sizing: border-box;
}

.row::after {
  clear: both;
}

.row::before, .row::after {
  content: " ";
  display: table;
}

*, ::before, ::after {
  box-sizing: border-box;
}

@media screen and (min-width: 40em)
  .l-header__burger {
  margin-top: 5px;
}

@media screen and (min-width: 40em)
  .l-header__search svg {
  vertical-align: text-bottom;
}

a {
  color: inherit;
}
/*//first article*/
.c-item__content p {
  margin-bottom: 0;
  line-height: 1.7;
  font-family: "Feijoa", serif;
  font-size: 15px;
  font-size: 0.9375rem;
  /*color: #4D4D4D;*/
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
  font-family: "Domaine", serif;
  font-style: normal;
  font-weight: normal;
}

h1, .h1 {
  font-size: 10px;
  margin: 0 0 25px;
  display: block;
}

h1.c-item__title {
  margin-top: 20px;
  font-size: 35px;
  line-height: 1.2;
}

.c-item__title a, ul.products .product .price a {
  text-decoration: none;
}

#firstArticleImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 466.3px;
  width: 466.3px;
}

/*///article images style */
.c-item--vertical .c-item__image {
  margin-bottom: 7px;
}

.c-item__image {
  position: relative;
}

figure {
  margin: 0;
}

.c-item--vertical .c-item__list {
  margin-bottom: 15px;
}

.c-item__link {
  font-family: "Tw Cen W01 Medium", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #999999;
  letter-spacing: 0.1em;
  font-size: 12px;
}

.c-item--xl .c-item__title, .c-item--xl ul.products .product .price, ul.products .product .c-item--xl .price {
  font-family: "Domaine", serif;
  letter-spacing: 0em;
  margin-bottom: 35px;
}

.c-item--xl .c-item__content {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.c-item__list {
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 0.115em;
  font-family: "Tw Cen W01 Light", sans-serif;
  font-size: 12px;
  font-size: 0.75rem;
}

.c-item--vertical .c-item__title, .c-item--vertical ul.products .product .price, ul.products .product .c-item--vertical .price {
  font-size: 19px;
  font-size: 1.1875rem;
}

.c-item__title, ul.products .product .price {
  font-size: 23px;
  font-size: 1.4375rem;
  letter-spacing: 0.025em;
  line-height: 1.2;
  font-family: "Tw Cen W01 Medium", sans-serif;
  margin-bottom: 20px;
}

#left-side-article {
  margin-left: 60px;
  position: absolute;
  display: inline-block;
}

.vr {
  margin-left: 20px;
  width: 1px;
  background-color: #5e6063;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 150px;
}

#resize-img {
  height:370px;
  width:auto;
}

#resize-img:hover{
  background-color: #e8ebef;
}

#firstArticleImg:hover{
  background-color: #e8ebef;
}

.c-item--vertical .c-item__image {
  margin-bottom: 7px;
}

.row .row {
  max-width: none;
  margin-left: -0.625rem;
  margin-right: -0.625rem;
}

#paris-article {
  display: flex;
  justify-content: flex-start;
  width:25%;
  text-align:bottom;
}

.articles-array {
  display: inline-block;
  display: flex;
  justify-content: flex-end;
  justify-content: space-between;
  flex-direction: column;
  text-align:center;
  padding-left: 60%;
}

.c-item__list {
  text-align: center;
  display: flex;
  justify-content: center;
  letter-spacing: 0.115em;
  font-size: 12px;
  display: inline-block;
  position: relative;
}

.underline-link {
  border-bottom: 1px solid #D17D74;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.115em;
  font-family: "Tw Cen W01 Light", sans-serif;
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: lighter;
}

/*.banner {
  background: url("/assets/img/banner.jpg") no-repeat top center fixed;
  background-size: contain;
  width: 100%;
  height: 300px;
  margin: 0;
  padding: 0;
  position: relative;
}*/

/*.wrapper {
  width: 100%;
  overflow: hidden;
}*/

/*.banner2 {
  width: 100%;
  margin-right: 0 auto;
}*/
