@font-face {font-family: "TwCenW01-LightItalic";
  src: url("//db.onlinewebfonts.com/t/793401edec9265f03a085e6cf31f4b07.eot");
  src: url("//db.onlinewebfonts.com/t/793401edec9265f03a085e6cf31f4b07.eot?#iefix") format("embedded-opentype"),
  url("//db.onlinewebfonts.com/t/793401edec9265f03a085e6cf31f4b07.woff2") format("woff2"),
  url("//db.onlinewebfonts.com/t/793401edec9265f03a085e6cf31f4b07.woff") format("woff"),
  url("//db.onlinewebfonts.com/t/793401edec9265f03a085e6cf31f4b07.ttf") format("truetype"),
  url("//db.onlinewebfonts.com/t/793401edec9265f03a085e6cf31f4b07.svg#TwCenW01-LightItalic") format("svg");
}

.l-header {
  text-transform: uppercase;
  background-color: #fff;
  background-color: rgb(255, 255, 255);
  padding-top: 20px;
  z-index: 1000;
  letter-spacing: 0.115em;
  font-family: "Tw Cen W01 Light", sans-serif;
  font-size: 15px;
}

.l-header__icons {
  display: inline-block;
  float: right;
  margin-top: -50px;
  padding-left: 100px;
  list-style: none;
}

.l-header__subscribe, .l-header__search {
  display: inline-block;
  vertical-align: text-top;
}

.l-header__search {
  padding-left: 10px;
  margin-left: 20px;
}

.l-header a {
  text-decoration: none;
}

.l-header__burger {
  cursor: pointer;
  height: 13px;
  float: left;
}

.l-header__burger span, .l-header__burger span:before, .l-header__burger span:after {
  height: 3px;
  width: 25px;
  background-color: #000;
  display: block;
  content: "";
  position: relative;
}

.l-header__burger span:before {
  top: -6px;
}

.l-header__icons li {
  display: inline-block;
}

.l-header a {
  text-decoration: none;
}

.l-header__burger span, .l-header__burger span:before, .l-header__burger span:after {
  height: 3px;
  width: 25px;
  top: -6px;
  background-color: #000;
  display: block;
  content: "";
  position: relative;
}

.l-header__burger span:after {
  top: 3px;
}

.icon-search {
  margin-top: 10px;
  width: 30px;
  height: 30px;
}

#kinfolk-logo-top {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 20px;
  width: 140.72px;
}

a {
  color: #1A1A1A;
}

/*///bootstrap navbar */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  font-family: "Tw Cen W01 Light", sans-serif;
  background-color: #fff;
  font-size: 12px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 15px;
  color: #818181;
  display: block;
  transition: 0.3s;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.sidenav a:hover {
  color: #4f4f4f;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  margin-left: 50px;
}

.sidenav ul {
  margin: 0;
  padding: 10px 0;
  list-style: none;
  border-top: 1px solid #E1E0E1;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

hr {
  width: 75%;
}

.pushy__bottom {
  position: absolute;
  bottom: -250px;
  padding-left: 20px;
}

.c-social__network{
  float: left;
}

#social-icon {
  width: 17.9px;
  height: 17.9px;
  fill: #BCBCBC;
  -webkit-transition: ease 250ms fill;
  transition: ease 250ms fill;
  color: #BCBCBC;
}

.c-social {
  padding-top: 25px;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  display: inline;
  list-style: none;
  list-style-type: none;
  overflow: hidden;
}

.l-nav .c-social {
  padding-top: 25px;
}
