.l-header {
  text-transform: uppercase;
  background-color: #fff;
  background-color: rgb(255, 255, 255);
  padding-top: 20px;
  z-index: 1000;
  letter-spacing: 0.115em;
  font-family: "Tw Cen W01 Light", sans-serif;
  /*font-size: 0.9375rem;*/
  font-size: 15px;
}

.l-header__icons {
  float: right;
  margin-top: -20px;
  padding: 0;
  list-style: none;
}

.l-header__subscribe {
  display: inline-block;
  vertical-align: text-top;
}

.l-header a {
  text-decoration: none;
}

.l-header__burger {
  cursor: pointer;
  height: 13px;
  float: left;
}

.l-header__burger span, .l-header__burger span:before, .l-header__burger span:after {
  height: 3px;
  width: 25px;
  background-color: #000;
  display: block;
  content: "";
  position: relative;
}

.l-header__burger span:before {
  top: -6px;
}

.l-header__icons li {
  display: inline-block;
}

.l-header__subscribe {
  display: inline-block;
  vertical-align: text-top;
  margin-bottom: 20px;
}

.l-header a {
  text-decoration: none;
}

.l-header__burger span, .l-header__burger span:before, .l-header__burger span:after {
  height: 3px;
  width: 25px;
  top: -6px;
  background-color: #000;
  display: block;
  content: "";
  position: relative;
}

.l-header__burger span:after {
  top: 3px;
}

.icon-search {
  margin-top: 10px;
  width: 30px;
  height: 30px;
}

.l-header__subscribe {
  margin-bottom: 20px;
}

#kinfolk-logo-top {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 20px;
  width: 140.72px;
}

a {
  color: inherit;
}


/*///bootstrap navbar */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  font-family: "Tw Cen W01 Light", sans-serif;
  background-color: #fff;
  font-size: 12px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 15px;
  color: #818181;
  display: block;
  transition: 0.3s;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  margin-left: 50px;
}

.sidenav ul {
  margin: 0;
  padding: 10px 0;
  list-style: none;
  border-top: 1px solid #E1E0E1;
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

hr {
  width: 75%;
}

/*.pushy__bottom {
  position: absolute;
  bottom: 20px;
}*/

.c-social {
  margin: 0;
  padding: 0;
  list-style: none;
}

/*//svg */
svg {
  width: 20px;
  height: 20px;
  -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.2555, 1);
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.2555, 1);
}


#social-icon {
  width: 17.9px;
  height: 17.9px;
  fill: #BCBCBC;
  -webkit-transition: ease 250ms fill;
  transition: ease 250ms fill;
  color: #BCBCBC;
}

.c-social {
  padding-top: 25px;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
}

/*a:hover {
  background-color: #4f4f4f;
}*/

/*left side navbar */

/*.c-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  z-index: 1001;
  display: none;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media screen and (min-width: 40em) .c-overlay__close {
  top: 35px;
  right: 65px;
}

.c-overlay__close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
 box-sizing: border-box;
}

div {
  display: block;
}

body {
  font-family: "Feijoa", serif;
  font-size: 15px;
  font-size: 0.9375rem;
  font-weight: 400;
  font-style: normal;
  line-height: 1.4;
  overflow-x: hidden;
  color: #1A1A1A;
}

.table {
  display: table;
  width: 100%;
  height: 100%;
}

.align--center {
  text-align: center;
}

.table__cell {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}

.c-overlay form {
  width: 80%;
  max-width: 1000px;
  margin: 0 auto 60px;
}

.c-overlay .screen-reader-text {
  display: none;
}

form label {
  display: block;
  margin-bottom: 10px;
  letter-spacing: -0.01em;
  color: #4D4D4D;
  font-size: 14px;
  font-size: 0.875rem;
}

.c-overlay input[type="text"] {
  border: 0;
  padding: 12px 0;
  border-bottom: 1px solid #D17D74;
  font-family: "Tw Cen W01 Medium", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.105em;
  font-size: 16px;
  font-size: 1rem;
}

form input[type=text] {
  -webkit-font-smoothing: antialiased;
  width: 100%;
  padding: 9px;
  border: 1px solid #E1E0E1;
  outline: none;
  border-radius: 0;
  -webkit-appearance: none;
  appearance: none;
}

input {
  line-height: normal;
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

h5 {
  display: block;
  font-size: 0.83em;
  -webkit-margin-before: 1.67em;
  -webkit-margin-after: 1.67em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
}

.c-overlay .c-list {
  width: 80%;
  max-width: 900px;
  margin: 0 auto;
}

.c-list--large {
  text-align: center;
}

.c-list {
  padding: 0;
  list-style: none;
}

*, *:before, *:after {
  box-sizing: border-box;
}

user agent stylesheet ul, menu, dir {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
}

.c-list--large a {
  text-decoration: none;
  position: relative;
}

a {
  color: #1A1A1A;
}

*, *:before, *:after {
  box-sizing: border-box;
}

user agent stylesheet a:-webkit-any-link {
  cursor: pointer;
}

element.style {
  visibility: visible;
}

.pushy-open-left .pushy-left {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.pushy-open-left .pushy-left {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.pushy.pushy-left {
  left: 0;
}

#container, .pushy, .push {
  -webkit-transition: -webkit-transform 400ms cubic-bezier(0.16, 0.68, 0.43, 0.99);
  transition: transform 400ms cubic-bezier(0.16, 0.68, 0.43, 0.99);
}

.pushy-left {
  -webkit-transform: translate3d(-300px, 0, 0);
  transform: translate3d(-300px, 0, 0);
}

.pushy {
  position: fixed;
  width: 300px;
  height: 100%;
  top: 0;
  z-index: 9999;
  overflow: auto;
  visibility: hidden;
}

@media screen and (min-width: 40em) .l-nav {
  padding: 35px;
}


////////////////////////////////////////

.pushy-open-left .site-overlay, .pushy-open-right .site-overlay {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9998;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-animation: fade 500ms;
  animation: fade 500ms;
}

.l-nav .site-close {
  margin-bottom: 15px;
  cursor: pointer;
}


.l-nav ul {
  margin: 0;
  padding: 10px 0;
  list-style: none;
  border-top: 1px solid #E1E0E1;
}

ul, menu, dir {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
}

.l-nav {
  background-color: #fff;
  font-size: 15px;
  font-size: 0.9375rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding: 20px;
}

.l-nav ul {
  margin: 0;
  padding: 10px 0;
  list-style: none;
  border-top: 1px solid #E1E0E1;
}

.l-nav .c-social {
  padding-top: 25px;
}

.l-nav ul {
  margin: 0;
  padding: 10px 0;
  list-style: none;
  border-top: 1px solid #E1E0E1;
}*/
