@import url(//db.onlinewebfonts.com/c/c862d8098ce50a7dc042ebbb9b94bbc8?family=TwCenW01-Medium);

*, ::before, ::after {
  box-sizing: border-box;
}

/*div {
  display: block;
}*/

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

body {
  font-family: Feijoa, serif;
  font-size: 0.9375rem;
  font-weight: 400;
  font-style: normal;
  line-height: 1.4;
  overflow-x: hidden;
  color: rgb(26, 26, 26);
}

html {
  font-family: sans-serif;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

.row::before, .row::after {
  content: " ";
  display: table;
}

*, ::before, ::after {
  box-sizing: border-box;
}

.row::after {
  clear: both;
}

.row::before, .row::after {
  content: " ";
  display: table;
}

*, ::before, ::after {
  box-sizing: border-box;
}

@media screen and (min-width: 40em)
  .l-header__burger {
  margin-top: 5px;
}

@media screen and (min-width: 40em)
  .l-header__search svg {
  vertical-align: text-bottom;
}

a {
  color: inherit;
}

/*//bottom social icons*/
#social-icon {
  width: 17.9px;
  height: 17.9px;
}
/*
#list-item{
  align-items: center;
}*/

.terms {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.site {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.c-social {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.c-social__network {
  float: left;
  padding: 12px;
  align-items: center;
}

.flex-container {
  padding: 10;
  margin: 0;
  list-style: none;
  display: flex;
  text-transform: uppercase;
  letter-spacing: 0.115em;
  font-family: sans-serif;
  font-size: 16px;
}
/*.c-social {

}*/

row {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
}

.flex-item {
  padding: 0px;
  /*margin-left: 0px;*/
  margin-left: 60px;
  margin-right: 60px;
}

.flex-item-2 {
  padding: 0px;
  /*margin-left: 0px;*/
  margin-left: 60px;
  margin-right: 60px;
}

html{
  height: 100%;
  width: 100%;
}

body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
