<!DOCTYPE html>
<html>
	<head>
		<title>Kinfolk</title>
	</head>
	<body>
  <app-navbar></app-navbar>
  <router-outlet></router-outlet>
  <hr>
  <div class="footer flex-container">
  	<div class="row">
      <div class="terms flex-item">
  			<p routerLink="">&copy; Kinfolk 2016 </p>
      </div>
      <div class="terms flex-item-2">
        <p>TERMS & CONDITIONS</p>
      </div>
    </div>
    <div class="row">
  		<div class="c-social c-social--follow flex-item"  id="list-item">
  			<p class="c-social__network"><a href="https://uk.pinterest.com/kinfolkmagazine" target="_blank"><img src="assets/img/pinterest.png" id="social-icon"></a></p>
  			<p class="c-social__network"><a href="https://www.facebook.com/kinfolkmag" target="_blank"><img src="assets/img/fb.png" id="social-icon"></a></p>
  			<p class="c-social__network"><a href="https://twitter.com/kinfolkmag" target="_blank"><img src="assets/img/twitter.png" id="social-icon"></a></p>
  			<p class="c-social__network"><a href="http://instagram.com/kinfolk" target="_blank"><img src="assets/img/ig.png" id="social-icon"></a></p>
  		</div>
  	</div>
    <div class="row flex-item">
  		<div class="site">
  			<p>SITE BY SIX<p>
  		</div>
    </div>
  </div>
  </body>
<html>
