.row {
  padding: 25px;
}

.card {
  padding-top: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.image:hover{
  background-color: #e8ebef;
}

img {
  height: 200px;
  width: auto;
  display: flex;
  align-items: flex-end;
}

p, h5 {
  text-align: center;
}
